* {
  margin:0;
  padding:0;
}

header {
  width: 100%;
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
}

/*SNSのアイコンの設定*/
header p{
	padding:30px;
}

.btn-social-circle .fa {
  line-height: 30px;
}
.btn-social-circle:hover {
  box-shadow: none;
}

a.btn-social-circle--github {
	color: #808080;
	font-size: 40px;
	border: none;  /* 枠線を消す */
    outline: none; /* クリックしたときに表示される枠線を消す */
}

a.btn-social-circle--twitter {
	color: #808080;
	font-size: 40px;
}

a.btn-social-circle--instagram {
	color: #808080;
	font-size: 40px;
}

/*アリクイ*/
header .headline img{
  width:8%;
  height:auto;
}

.nav-list {
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
}
.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

/*font*/
body {
font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'  
}


/*ボタンの装飾*/
.btn-border-bottom {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0;
  text-decoration: none;
  color: #808080;  
}

.btn-border-bottom:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  top:100%;
  left: 0;
  border-radius: 3px;
  background:#808080;
  transition: .2s;
}

.btn-border-bottom:hover:before {
  top: -webkit-calc(100% - 3px);
  top: calc(100% - 3px);
}

/*「親要素の横幅が画面幅の75％」＋「img要素の横幅は親要素の全体」*/
.resizeimage{
	margin-left: 5%;
	padding-left:5%;
	margin-right:5%;
	padding-right:5%;
	width: 80%;
}

.resizeimage img {
	width: 100%; /* 最大幅 */
}